.card
  .card_row
    .card_title
      %h2= board.title.truncate(15)
    - if user_signed_in? && current_user.has_written?(board)
      .card_detail_actions
        .dropdown
          = image_tag 'actions-icon.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_board_path(board)
            = link_to '削除する', board_path(board), data: {method: 'delete', confirm: '本当に削除しますか？'}
  .card_content
    %p= board.title.truncate(25)
  .card_icon
    = image_tag 'card-icon.png'